*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}
.container{
    position: relative;
    transform: rotate(-35deg) skew(20deg,5deg);
}
ul{
   position: relative;
   display: inline-block;
   list-style: none;
}
ul li{
    background-color: #000000;
    color: #575757;
    text-align: center;
    height: 2.5em;
    width: 4em;
    vertical-align: middle;
    line-height: 2.5em;
    border-bottom: 1px solid #060606;
    position: relative;
    display: block;
    text-decoration: none;
    box-shadow: -2em 1.5em 0 #e1e1e1;
    transition: all 0.25s linear;
    cursor: pointer;  
}

ul li:hover{
    background-color: #f58b08;
    color: #fffcfb;    
    transform: translate(0.9em, -0.9em);
    transition: all 0.25s linear;
    box-shadow: -2em 2em 0 #e1e1e1;
   
}













